@import "tailwindcss";

@import '@fontsource-variable/josefin-sans';
@import '@fontsource-variable/libre-bodoni';

:root {
  --bg-color: #EBF0FC;
}

@theme {
  --font-body: "Josefin Sans", sans-serif;
  --font-title: "Libre Bodoni", serif;
  --color-dusk-blue: #50608C;
  --color-cherry-blossom: #F4ACB7;
  --color-dusty-mauve: #9D8189;
}

body {
  @apply m-0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  isolation: isolate;
  background-color: var(--bg-color) 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
